name: build

on: [push, pull_request]

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@1.0.0
  windows-scripts:
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Run Powershell scripts
        run: |
          Set-ExecutionPolicy -ExecutionPolicy RemoteSigned
          src/windows/setup/setup-windows
          src/windows/maintenance/spring-clean
          src/windows/maintenance/update-windows
        shell: powershell
  vagrant-install-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Install project
        run: ./src/vagrant/scripts/install.sh
  vagrant-install-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Install project
        run: src/vagrant/scripts/install.bat
